attrs==18.1.0
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
Faker==0.8.15
ipaddress==1.0.22
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.1
python-dateutil==2.7.3
six==1.11.0
text-unidecode==1.2
urllib3==1.22
