attrs==18.1.0
click==6.7
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
Faker==0.8.15
ipaddress==1.0.22
more-itertools==4.1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
numpy==1.14.3
pathlib==1.0.1
plac==0.9.6
pluggy==0.6.0
preshed==1.0.0
py==1.5.3
pytest==3.5.1
python-dateutil==2.7.3
regex==2017.4.5
six==1.11.0
termcolor==1.1.0
text-unidecode==1.2
thinc==6.10.2
toolz==0.9.0
tqdm==4.23.4
ujson==1.35
urllib3==1.22
wrapt==1.10.11
